<html>
    <head>
        <% include includes/globalcsshtml.ejs %>

        <!-- Page Specific JS + CSS  -->
        <link rel="stylesheet" type="text/css" href="/css/drink.css">
        <title>Skinny Sip - Drink</title>
    </head>
    <body>
        <% include includes/header.ejs %>

        <!-- Body -->
        <div class="container" id="resultContainer">
            <h1><%= name %></h1>
            <i><%= desc %></i>
            <% for (var tag of tags) {%><span class='badge badge-secondary ml-1'><%=tag%></span><%}%>
            <div class="d-flex mt-3">
                <div class="photoCard">
                    <img  class="mainImg" src="https://skinysipblobstorage.blob.core.windows.net/images/Recipe_<%= id %>.jpg" />

                    <div class="warningImgs">
                        <% let alcObj = nutrition.aggregate.full_nutrients.find(x=>x.attr_id===221);
                           if (alcObj) {%>
                            <div class="stdDrinks"><span><%=Math.round(alcObj.value / 10 * 10) / 10 %></span></div>
                        <%}%>
                        <img src="/img/pregnantDrinkWarning.jpg" class="pregnantDrinkWarning">
                    </div>

                    <% var n = nutrition.aggregate %>
                    <% 
                        var DI = function(value, reference) {
                            if (!reference) return "-";
                            var rdi = Math.round(value/reference*100);
                            if (rdi === 0 && value > 0) return "<1%";
                            return rdi + "%";
                        }
                        var p100 = function(value) {
                            return Math.round(value / n.serving_weight_grams * 100 * 10) / 10;
                        }
                    %>
                    <% var valRow = function(name, value, reference, unit, extraClass) { %>
                        <tr class="valRow<%= extraClass ? ' '+extraClass : '' %><%= (reference && value / reference >= 0.5) || name==='Alcohol, ethyl' ? ' yellowHl' : '' %>">
                            <td class="nName"><%= name %></td>
                            <td class="nQtyPs"><%= Math.round(value * 10) / 10 %> <%= unit %></td>
                            <td class="nDI"><%= DI(value, reference) %></td>
                            <td class="nQty100"><%= p100(value) %> <%= unit %></td>
                        </tr>
                    <% } %>
                    <table class="nutritionTable">
                        <tr><td colspan="4" class="title">Nutrition Information</td></tr>
                        <tr><td colspan="4" class="subTitle">(AVERAGE)</td></tr>
                        <tr>
                            <td colspan="4" class="servPp">
                                Servings per package: <span class="servPpVal"><%= n.serving_qty %></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="servSz">
                                Serving Size: <span class="servSzVal"><%= n.serving_weight_grams %>g</span>
                            </td>
                        </tr>
                        <tr class="headerRow">
                            <td></td>
                            <td>quantity per serving</td>
                            <td class="blueHl">% daily intake &#9650; per serving</td>
                            <td>quantity per 100g</td>
                        </tr>
                        <%- valRow("energy", n.nf_energy, 8700, "kJ") %>
                        <%- valRow("protein", n.nf_protein, 50, "g") %>
                        <%- valRow("fat, total", n.nf_total_fat, 70, "g") %>
                        <%- valRow("saturated", n.nf_saturated_fat, 24, "g", "subVal") %>
                        <%- valRow("CARBOHYDRATE", n.nf_total_carbohydrate, 310, "g") %>
                        <%- valRow("SUGARS", n.nf_sugars, 90, "g", "subVal") %>
                        <%- valRow("dietary fibre", n.nf_dietary_fiber, 30, "g") %>
                        <%- valRow("sodium", n.nf_sodium, 2300, "mg") %>
                        <%- valRow("potassium", n.nf_potassium, 3300, "mg") %>
                        <%- valRow("cholestrol", n.nf_cholesterol, 0, "mg") %>
                        <tr class="microHeaderRow">
                            <td></td>
                            <td></td>
                            <td class="blueHl">% RDI*</td>
                            <td></td>
                        </tr>
                        <% for (let m of nutrition.microNutrients) {%>
                            <% let fObject = n.full_nutrients.find(x=>x.attr_id===m.id);
                               if (fObject && Math.round(fObject.value*10)/10 > 0) { %>
                                <%- valRow(m.name, fObject.value, m.rdi, m.unit, "micro") %>
                            <%}%>
                        <%}%>
                        <tr class="appendix">
                            <td colspan="4">
                                &#9650; Percentage daily intakes are based on an average adult diet of 8700kJ.<br>
                                * Percentage Recommended Dietary Intake (Aust/NZ)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="recipeCard">
                    <h3>Ingredients<a href="/Edit?id=<%=id%>"><i class="fas fa-edit editBtn ml-3" title="Edit this recipe"></i></a></h3>
                    <form action="/Drink" method="GET" id="ingEditForm">
                        <table class="table ingredients">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Energy (kJ)</th>
                                </tr>
                            </thead>
                            <tbody>
                            <%
                                function toTitleCase(str) {
                                    return str.replace(
                                        /\w\S*/g,
                                        function(txt) {
                                            return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                                        }
                                    );
                                }
                            %>
                            <% for (let i = 0; i<nutrition.ingredients.length; i++) { let ing = nutrition.ingredients[i]; %>
                                <tr>
                                    <td><img class="ingImg" src="https://skinysipblobstorage.blob.core.windows.net/images/Ingredient_<%= og_recipe[i].ingredientID %>_sml.png" onerror="this.onerror=null; this.src='/img/noImage.png'" /></td>
                                    <td class="ingredientCell" data-ing="<%=og_recipe[i].ingredient%>"><a href="/Ingredient?id=<%=og_recipe[i].ingredientID%>"><%= toTitleCase(ing.food_name) %></a></td>
                                    <td class="measureCell" data-qty="<%= Math.round(ing.serving_qty*100)/100 %>" data-unit="<%= ing.serving_unit %>">
                                        <span class="mr-3">
                                            <%= Math.round(ing.serving_qty*100)/100 %> <%= ing.serving_unit %>
                                            <% if (ing.serving_qty_metric && ing.serving_unit_metric) { %>
                                                <br />(<%= ing.serving_qty_metric %> <%= ing.serving_unit_metric %>)
                                            <% } %>
                                        </span>
                                        <% if (ing.edited) {%>
                                            <div class="edited"><i class="fas fa-exclamation-circle"></i><span>Edited</span></div>
                                            <input type="hidden" name="ingEditQty<%=i+1%>" value="<%= ing.serving_qty %>" />
                                            <input type="hidden" name="ingEditUnit<%=i+1%>" value="<%= ing.serving_unit %>" />
                                        <%}%>
                                    </td>
                                    <td><%= ing.nf_energy %> kJ</td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <div id="editButtons" class="text-right">
                            <input type="hidden" name="id" value="<%= id %>" />
                            <a class="btn btn-secondary" href="/Drink?id=<%= id %>">Cancel Changes</a>
                            <input type="submit" class="btn btn-primary" value="Update Nutrition" />
                        </div>
                    </form>
                    <h3>Method</h3>
                    <p><%= method %></p>

                    <h3>Comments</h3>
                    <% for (let i = 0; i<comments.length; i++) { let comment = comments[i]; %>
                        <div class="row commentContainer">
                            <div class="col-sm-2">
                                <div class="img-thumbnail">
                                    <img class="img-fluid user-photo" src="/img/avatar.png">
                                </div>
                            </div>

                            <div class="col-sm-10">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong><%= comment.username %></strong> 
                                        <span class="text-muted">commented <%= Math.round(Math.abs((comment.date - new Date()) / (24 * 60 * 60 * 1000))) %> days ago</span>
                                    </div>
                                    <div class="panel-body">
                                        <%= comment.text %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    
                    <form action="/api/comment" method="POST" id="commentForm">
                        <input name="drinkId" id="drinkId" type="hidden" value="<%= id %>">
                        <textarea class="addCommentBox form-control" type="text" name="comment"></textarea>
                        <button class="btn-primary btn addCommentButton" type="submit">Add Comment</button>
                        <script>
                            let elem = $("li.nav-item a[href='/Login']");
                            if (elem.html() === "Login") {
                                $(".addCommentButton").attr("disabled", true);
                                $(".addCommentButton").html("Log in to comment");
                                $(".editBtn").addClass("disabled").attr("title", "Log in to edit this recipe")
                                .parent().removeAttr("href").click(()=>alert("Log in to edit this recipe"));
                            }
                        </script>
                    </form>
                </div>                
            </div>
            <div class="row mt-5"></div>
        </div>
        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="/Search">Search cocktails</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/Random">Random cocktail</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/About">About + credits</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Zachary Murray 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/controllers/drink.js"></script>
    </body>
</html>