<html>
    <head>
        <!-- Global JS + CSS  -->
        <script src="/inc/jquery/jquery.min.js"></script>
        <script src="/inc/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/site.css">

        <!-- Page Specific JS + CSS  -->
        <link rel="stylesheet" type="text/css" href="/css/substitute.css">
        <title>Skinny Sip - Unknown Ingredient</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fas fa-cocktail"></i>Skinny Sip</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Random">Random</a></li>
                        <li class="nav-item"><a class="nav-link" href="/About">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Search Bar -->
        <form class="searchForm" method="GET" action="/Search">
            <div class="container">
                <div class="row align-items-center h-100">
                    <div class="col-10 pr-0"><input name="term" type="text" class="form-control form-control-lg" placeholder="Enter a cocktail name..." /></div>
                    <div class="col-2"><button type="submit" class="btn btn-block btn-lg btn-primary">Search</button></div>
                </div>
            </div>
        </form>

        <!-- Body -->
        <div class="container" id="resultContainer">
            <h1>Unknown Ingredient</h1>
            <p>
                We couldn't find any nutrition info for the ingredient: "<%= ingredient %>"<br>
                Please enter a similar/generic ingredient below, and we'll use the nutrition information from that instead.
            </p>
            <form class="mt-5" id="substituteForm" method="POST", action="/api/Substitute">
                <input type="hidden" name="drinkId" value="<%= drinkId %>" />
                <input type="hidden" name="ingredient" value="<%= ingredient %>" />
                <div class="row">
                    <div class="col-5 text-center">
                        <h5>Original:</h5>
                        <table>
                            <tr>
                                <td>
                                    <img src="https://www.thecocktaildb.com/images/ingredients/<%= ingredient %>-Small.png" onerror="this.onerror=null; this.src='/img/noImage.png'" />
                                </td>
                                <td class="align-middle">
                                    <%= ingredient %>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-2 text-center"><i class="fas fa-arrow-right"></i></div>
                    <div class="col-5 text-center">
                        <h5>Nutritional Substitute:</h5>
                        <div id="grpInput" class="input-group p-relative">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                            </div>
                            <input name="substitute" id="substitute" type="text" class="form-control" placeholder="Search for ingredient">
                            <div id="autofill" class="dropdown-menu p-absolute" style="display: none; width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <input id="submitSub" type="submit" class="btn btn-primary mt-3" /><br>
                    <span id="ddWarn">You must select an option from the dropdown to submit this form</span> 
                </div>
            </form>
            
        </div>
        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="/Search">Search cocktails</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/Random">Random cocktail</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/About">About + credits</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Zachary Murray 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/controllers/substitute.js"></script>
    </body>
</html>